@font-face {
	font-family: 'UnGraphic';
	src:url('UnGraphic.woff2') format('woff2'),
		url('UnGraphic.woff') format('woff'),
		url('UnGraphic.ttf')  format('truetype');
}

@font-face {
	font-family: 'UnGraphicBold';
	src:url('UnGraphicBold.woff2') format('woff2'),
		url('UnGraphicBold.woff') format('woff'),
		url('UnGraphicBold.ttf')  format('truetype');
}

html,body{
	margin:0;
	background:#460e55;
	color:white;
	font-family:UnGraphic;
	overflow-X:hidden;
}

.patternDiv{
	position:absolute;
	z-index:10;
	width:100%;
	height:380vw;
	background:url(taskhive-pattern-white.png) repeat top center;
	pointer-events: none;
	opacity:.03;
}

.headerImage{
	position:absolute;
	top:50%;
	right:300px;
	transform:translateY(-175px);
	height:100vh;
	width:90%;
	background:url(taskhive-symbol-yellow.svg) no-repeat top center;
	background-size:128px;
}

.headerText{
	position:absolute;
	top:50%;
	right:0;
	transform:translateY(-170px);
	width:90%;
	font-family:UnGraphicBold;
	font-size:6.5em;
	text-align:center;
}

.headerText2{
	position:absolute;
	top:50%;
	transform:translateY(-65px);
	font-size:1.6em;
	width:90%;
	right:0;
	text-align:center;
}

.headerText3{
	position:absolute;
	top:50%;
	right:165px;
	width:90%;
	font-size:1em;
	height:3.7em;
	text-align:center;
}

.rzzt{
	background: url(rzzt.svg) no-repeat bottom center;
	background-size:120px;
}

.downloadButtonDiv{
	position:absolute;
	top:50%;
	transform:translateY(15px);
	width:90%;
	right:-80px;
	text-align:center;
}

.downloadButton{
	background:rgba(30,30,30,.4) url(taskhive-symbol-grey-small.png) no-repeat top left;
	border:none;
	border-radius:15px;
	color:#fff;
	padding-left:2.15em;
	padding-right:.8em;
	margin-left:.3em;
	margin-right:.3em;
	height:2em;
	font-size:1.5em;
	cursor:pointer;
}

.arrow{
	position:absolute;
	top:50%;
	transform:translateY(360px);
	width:100%;
	height:100px;
	background:url(down-arrow-white.svg) no-repeat center;
	background-size:50px;
}

#getAnythingDoneDiv{
	position:absolute;
	top:50%;
	transform:translateY(600px);
	width:100%;
}

#noFees{
	position:absolute;
	top:50%;
	transform:translateY(1200px);
	width:100%;
}

#sellYourServices{
	position:absolute;
	top:50%;
	transform:translateY(1600px);
	width:100%;
}

#paymentFlexibility{
	position:absolute;
	top:50%;
	transform:translateY(2100px);
	width:100%;
}

#strongGuarantee{
	position:absolute;
	top:50%;
	transform:translateY(2600px);
	width:100%;
}

#noAds{
	position:absolute;
	top:50%;
	transform:translateY(3100px);
	width:100%;
}

#whyPrivacy{
	position:absolute;
	z-index:11;
	top:50%;
	transform:translateY(3500px);
	width:100%;
}

#privacySchpele{
	background:rgba(146,27,179,1);
	width:100%;
}

#infoSharing{
	background:rgba(55,26,64,1);
	width:100%;
}

#pointAnimationDiv{
	width:100%;
}

.leftDiv{
	width:50%;
	float:left;
	text-align:right;
	padding-right:0%;
	height:20vw;
}

.rightDiv{
	width:45%;
	float:left;
	height:25vw;
	margin-right:5%;
	margin-top:2%;
}


#pointAnimation{
	z-index:-1;
	position:absolute;
}

.pointCanvas{
	width:100%;
	height:180vw;
}

.mapCanvas{
	width:100%;
	height:400px;
}

canvas{
	display:block;
}

#noscript_map{
	width:100%;
	height:25vw;
}

.bold{
	font-family:unGraphicBold;
	font-size:3vw;
}

.normal{
	font-family:unGraphic;
	font-size:2vw;	
}

img{
	display:block;
}

hr{
	border:1px solid #456;
}

.clear{
	clear:both;
}